
.vs/PokeTextures/FileContentIndex/1b179399-71e9-43c3-8eb0-76a81c8bcc72.vsidx
.vs/PokeTextures/FileContentIndex/1b179399-71e9-43c3-8eb0-76a81c8bcc72.vsidx
.vs/PokeTextures/FileContentIndex/1f03cae3-f34c-4bf7-a760-73d9dbc0b127.vsidx
.vs/PokeTextures/FileContentIndex/83206a84-c8b0-489d-a251-1df13e977d24.vsidx
.vs/PokeTextures/FileContentIndex/32211827-4bd3-4cee-b650-2f0097c37bb5.vsidx
.vs/PokeTextures/FileContentIndex/cf7ecd88-d27d-4c32-870a-66479bebc2fc.vsidx
.vs/PokeTextures/v17/.wsuo
*.bin
*.sqlite
.vs/VSWorkspaceState.json
